.App {
  text-align: center;
  text-decoration-color: black;
}

.App {
  background-image: url(../public/home.jpeg);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.App-intro {
  font-size: large;
}
